

/*Headings */
h1 {
    padding-top: 25px;
    padding-bottom: 10px;
}

h6 {
  margin-left: 5px;
}
/*Aligning settings icon to the right in a collapsible-header*/
a.settings-align {
    display:inline-block;
    margin-left:auto;
    margin-right:0cm;
}

/*Dropdown list from settings in collapsible*/
/*.dropdown-content li > .settings-dropdown {
    font-size: 12px;
}*/
/*Overriding dropdown appearence*/
.dropdown-content li > a {
    font-size: 14px;
}

/*Dropdown for selecting Cores in /core-details*/
.core-dropdown {
  padding-top: 25px;
  padding-bottom: 10px;
}

/*Overriding Tab styling*/
.tabs .tab a:hover, .tabs .tab a.active {
  color:#00695c;
}
.tabs .tab a {
  color:#00695c;
}
.tabs .indicator {
  color:#00695c;
  background-color:#00695c;
}
/*Setting Tab section styling*/
#core-prop-tab{
  padding-top: 15px;
}
.tab-section-content {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.tab-section-content-header {
  margin-bottom: 0.1rem;
}

/*Sticky footer*/
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

/*Positioning FAB in Core Details*/
.fixed-action-btn {
    position:relative;
    /*right: 5%;
    bottom: 5%;*/
}
