<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(page_title)">
    <meta charset="UTF-8"/>

    <link rel="stylesheet" th:href="@{/vendor/materialize_v1.0.0/css/materialize.css}"/>
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>

    <title th:text="'Core Analysis Toolbox | ' + ${page_title}">Title</title>
</head>
<body>


<div th:fragment="nav_bar">
    <nav>
        <div class="nav-wrapper  blue-grey darken-2">
            <div class="col s12 container">
                <a th:href='@{/}' class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-trigger" href='/' data-target='dropdown1'>Core <i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-trigger" href="/" data-target="dropdown2">Analysis <i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-trigger" href="/" data-target="dropdown3">About<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--TODO - KL: Fix bug with highlighted navbar heading after hover-->
    <!-- Dropdown Structure for Nav-Bar -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a th:href="@{/add-core}">Add Core</a></li>
        <!--TODO - KL: Provide functionality such that the latest visited core is opened-->
        <li><a th:href="@{/core-details/1}">Core Details</a></li>
        <li><a th:href="@{/library}">Library</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="/">Curve Fit</a></li>
        <li><a href="/">Simulation</a></li>
        <li><a href="/">History Match</a></li>
        <li><a href="/">Analytical</a></li>
    </ul>
    <ul id="dropdown3" class="dropdown-content">
        <li><a href="/">Background</a></li>
        <li><a href="/">Contact</a></li>
        <li><a href="/">Credits</a></li>
    </ul>
</div>


<!--TODO - KL: Insert fragment for FOOTER-->
<footer th:fragment="footer" class="page-footer blue-grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Please Subscribe</h5>
                <p class="grey-text text-lighten-4">By subscribing you will receive newsletters regarding updates and
                    new features.</p>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input id="email" type="email" class="validate"/>
                                <label for="email">Email</label>
                                <span class="helper-text"
                                      data-error="Oops! Looks like you entered an invalid email address."
                                      data-success="Looks good!"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Details</h5>
                <ul>
                    <!--TODO -KL: Position text to be center on icons-->
                    <li class="grey-text text-lighten-3 valign-wrapper"><i class="material-icons">person</i>Kjetil Lorentzen</li>
                    <li class="grey-text text-lighten-3 valign-wrapper"><i class="material-icons">email</i>kjeloren@gmail.com</li>
                    <li class="grey-text text-lighten-3 valign-wrapper"><i class="material-icons">phone</i>(+47) 997 90 068</li>
                    <li>
                        <!--TODO -KL: Provide proper icons for social media-->
                        <a href="#">
                            <!--<img th:src="@{images/twitter-icon.png}" width="24px" alt="twitter"/>-->
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Kjetil Lorentzen
            <a class="grey-text text-lighten-4 right" href="#!">About</a>
        </div>
    </div>
</footer>


<!--TODO - KL: Correct the implementation of FLASH message-->
<!--<div th:fragment="flash" th:if="${flash != null}" class="container">
    <i class="right material-icons" data-close="">close</i>
    <div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div>
</div>-->

<div th:fragment="scripts">
    <script th:src="@{/vendor/jquery/jquery-v3.2.1.js}"></script>
    <script th:src="@{/vendor/materialize_v1.0.0/js/materialize.js}"></script>
    <script th:src="@{/app.js}"></script>
</div>
</body>
</html>