<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(page_title)">
    <meta charset="UTF-8"/>

    <link rel="stylesheet" th:href="@{/vendor/materialize_v1.0.0/css/materialize.css}"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <!--TODO - KL: Insert all links to CSS files-->


    <title th:text="'Core Analysis Toolbox | ' + ${page_title}">Title</title>
</head>
<body>

<h1>Welcome!</h1>


<!--TODO - KL: Insert fragment for FLASH message-->

<!--TODO - KL: Insert fragment for all scripts-->
<div th:fragment="scripts">
    <script th:src="@{vendor/jquery/jquery-v3.2.1.js}"></script>
    <script th:src="@{vendor/materialize_v1.0.0/js/materialize.js}"></script>
</div>
</body>
</html>